body { 
  color:rgb(0, 98, 255);
}
.black-border {
  border: 2px solid black;
}
#u_color-background {
  background-color:#ffe4c4;
}
.ul{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p { 
  font-size: 18px color;
  color: #000;
}